<mat-toolbar color="accent" class="heigt-40 mt-4">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-12 text-center">
        <h2>Presupuesto: {{Conta.divisa}} {{Conta.presupuesto}}</h2>
      </div>
      <div class="col-md-4 col-sm-12 text-center">
        <h2>Gastos Totales: {{Conta.divisa}} {{Conta.gastos}}</h2>
      </div>
      <div class="col-md-4 col-sm-12 text-center">
        <h2>Balance: {{Conta.divisa}} {{Conta.balance}}</h2>
      </div>
    </div>
  </div>
</mat-toolbar>