<app-header [Title]="Title"></app-header>
<div class="card-center">
  <mat-card class="card-start">
    <mat-card-header class="text-center">
      <mat-card-title>
        <h3>Nuevo Registro</h3>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <form (ngSubmit)="add_registro()">
        <mat-form-field appearance="fill" class="width-100">
          <mat-label>Nombre</mat-label>
          <input matInput [(ngModel)]="new_nombre" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill" class="width-100">
          <mat-label>Categoria</mat-label>
          <mat-select [(ngModel)]="new_categoria" [ngModelOptions]="{standalone: true}">
            <mat-option value="Egreso">Egreso</mat-option>
            <mat-option value="Ingreso">Ingreso</mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill" class="width-100">
          <mat-label>Monto</mat-label>
          <input matInput type="number" [(ngModel)]="new_monto" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <br>
        <mat-card-actions>
          <div class="container">
            <div class="row">
              <div class="col-md-12 text-center">
                <button mat-raised-button type="submit" color="accent">Agregar</button>
              </div>
            </div>
          </div>

        </mat-card-actions>
      </form>

    </mat-card-content>
  </mat-card>

  <mat-card class="card-data">

    <mat-card-content>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let element">
            {{element.nombre}}
          </td>
        </ng-container>

        <ng-container matColumnDef="categoria">
          <th mat-header-cell *matHeaderCellDef> Categoria </th>
          <td mat-cell *matCellDef="let element"> {{element.categoria}} </td>
        </ng-container>

        <ng-container matColumnDef="monto">
          <th mat-header-cell *matHeaderCellDef> Monto </th>
          <td mat-cell *matCellDef="let element">{{this.Conta.divisa}} {{element.monto}} </td>
        </ng-container>

        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef class="text-center"> Acciones </th>
          <td mat-cell *matCellDef="let element">
            <div class="row">
              <div class="col-md-6 text-end">
                <button mat-raised-button class="btn" color="accent" (click)="update(element)">Editar</button>
              </div>
              <div class="col-md-6 text-start">
                <button mat-raised-button class="btn" color="warn" (click)="delete(element)">Borrar</button>
              </div>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
    </mat-card-content>
  </mat-card>

</div>


<app-footer></app-footer>